.throttle {
	animation: throttle var(--css-throttle-delay, 1.2s) step-end forwards;
}
.throttle:active {
	animation: none;
}
@keyframes throttle {
	from {
		pointer-events: none;
		opacity: var(--css-throttle-opacity, 0.75);
	}
	to {
		pointer-events: all;
		opacity: 1;
	}
}
